In [1]:
import os
import numpy as np
import pandas as pd
from scipy.stats import skew, kurtosis
import cv2
import glob
import tifffile as tiff
import matplotlib.pyplot as plt

In [2]:
R_MPA = np.loadtxt("R_MPA.txt")
L_MPA = np.loadtxt("L_MPA.txt")
    
MPA = np.concatenate((L_MPA, R_MPA))
MPA_all_mean = np.mean(MPA)
MPA_all_std = np.std(MPA)
MPA_all_max = np.max(MPA)
MPA_all_min = np.min(MPA)
MPA_all_skew = skew(MPA)
MPA_all_kurtosis = kurtosis(MPA)

# Initialize data of lists
data = {'Variables':['MPA_all_mean', 'MPA_all_std', 'MPA_all_max', 'MPA_all_min', 'MPA_all_skew', 
                     'MPA_all_kurtosis'],
         'Values': [MPA_all_mean, MPA_all_std, MPA_all_max, MPA_all_min, MPA_all_skew, MPA_all_kurtosis]}
  
# Create DataFrame
df = pd.DataFrame(data)
display(df)

df.to_csv('MPA_all.csv', index=False)

          Variables     Values
0      MPA_all_mean  24.320724
1       MPA_all_std   4.371992
2       MPA_all_max  32.342205
3       MPA_all_min   0.045911
4      MPA_all_skew  -2.012714
5  MPA_all_kurtosis   7.327224

In [3]:
mean = ([25.8, 24.320724])
std = ([1.4, 4.371992])

astd = np.sqrt(((39*std[0]*std[0]) + (21*std[1]*std[1]))/(40+22-2))
print(np.mean(mean), astd)
print(np.mean(std))
print(np.std(mean))

25.060361999999998 2.8220577451254254
2.8859959999999996
0.7396380000000011

# Extraer Classes left angiosome

In [4]:
# Define range
c1_L = L_MPA[(L_MPA >= 28) & (L_MPA < 29)]
c2_L = L_MPA[(L_MPA >= 29) & (L_MPA < 30)]
c3_L = L_MPA[(L_MPA >= 30) & (L_MPA < 31)]
c4_L = L_MPA[(L_MPA >= 31) & (L_MPA < 32)]
c5_L = L_MPA[(L_MPA >= 32) & (L_MPA < 33)]
c6_L = L_MPA[(L_MPA >= 33) & (L_MPA < 34)]
c7_L = L_MPA[(L_MPA >= 34) & (L_MPA < 35)]

c1_R = R_MPA[(R_MPA >= 28) & (R_MPA < 29)]
c2_R = R_MPA[(R_MPA >= 29) & (R_MPA < 30)]
c3_R = R_MPA[(R_MPA >= 30) & (R_MPA < 31)]
c4_R = R_MPA[(R_MPA >= 31) & (R_MPA < 32)]
c5_R = R_MPA[(R_MPA >= 32) & (R_MPA < 33)]
c6_R = R_MPA[(R_MPA >= 33) & (R_MPA < 34)]
c7_R = R_MPA[(R_MPA >= 34) & (R_MPA < 35)]

# Extract number of elements per range
Total_L = len(L_MPA)
Total_c1_L = len(c1_L)
Total_c2_L = len(c2_L)
Total_c3_L = len(c3_L)
Total_c4_L = len(c4_L)
Total_c5_L = len(c5_L)
Total_c6_L = len(c6_L)
Total_c7_L = len(c7_L)

Total_R = len(R_MPA)
Total_c1_R = len(c1_R)
Total_c2_R = len(c2_R)
Total_c3_R = len(c3_R)
Total_c4_R = len(c4_R)
Total_c5_R = len(c5_R)
Total_c6_R = len(c6_R)
Total_c7_R = len(c7_R)

# Extract percentages
per_c1_L = (len(c1_L)*100)/len(L_MPA)
per_c2_L = (len(c2_L)*100)/len(L_MPA)
per_c3_L = (len(c3_L)*100)/len(L_MPA)
per_c4_L = (len(c4_L)*100)/len(L_MPA)
per_c5_L = (len(c5_L)*100)/len(L_MPA)
per_c6_L = (len(c6_L)*100)/len(L_MPA)
per_c7_L = (len(c7_L)*100)/len(L_MPA)

per_c1_R = (len(c1_R)*100)/len(R_MPA)
per_c2_R = (len(c2_R)*100)/len(R_MPA)
per_c3_R = (len(c3_R)*100)/len(R_MPA)
per_c4_R = (len(c4_R)*100)/len(R_MPA)
per_c5_R = (len(c5_R)*100)/len(R_MPA)
per_c6_R = (len(c6_R)*100)/len(R_MPA)
per_c7_R = (len(c7_R)*100)/len(R_MPA)

# Extract ETs
ET_L_MPA = ((28.5*per_c1_L) + (29.5*per_c2_L))/(per_c1_L+per_c2_L)
ET_R_MPA = ((28.5*per_c1_R) + (29.5*per_c2_R))/(per_c1_R+per_c2_R)

# Extract HSE
Cl_L_MPA = np.max(L_MPA)
Cl_R_MPA = np.max(R_MPA)

HSE_L_MPA = abs(Cl_L_MPA - ET_L_MPA)
HSE_R_MPA = abs(Cl_R_MPA - ET_R_MPA)

# Extract ETD
ETD_MPA = abs(ET_L_MPA - ET_R_MPA)

# Initialize data of lists
data2 = {'Temperatures':['---',28.5, 29.5, 30.5, 31, 32.5, 33.5, 34.5],
         'Variables_L':['Total_L_MPA','c1_L_MPA', 'c2_L_MPA', 'c3_L_MPA', 'c4_L_MPA', 'c5_L_MPA', 'c6_L_MPA', 'c7_L_MPA'],
         'Numel_L':[len(L_MPA), len(c1_L), len(c2_L), len(c3_L), len(c4_L), len(c5_L), len(c6_L), len(c7_L)],
         'Percentages_L': ['---', per_c1_L,per_c2_L,per_c3_L,per_c4_L,per_c5_L,per_c6_L,per_c7_L],
         'ET_L': [ET_L_MPA, '---', '---', '---', '---', '---', '---', '---'],
         'HSE_L': [HSE_L_MPA, '---', '---', '---', '---', '---', '---', '---'],
         'Variables_R':['Total_R_MPA','c1_R_MPA', 'c2_R_MPA', 'c3_R_MPA', 'c4_R_MPA', 'c5_R_MPA', 'c6_R_MPA', 'c7_R_MPA'],
         'Numel_R':[len(R_MPA), len(c1_R), len(c2_R), len(c3_R), len(c4_R), len(c5_R), len(c6_R), len(c7_R)],
         'Percentages_R': ['---', per_c1_R,per_c2_R,per_c3_R,per_c4_R,per_c5_R,per_c6_R,per_c7_R],
         'ET_R': [ET_R_MPA, '---', '---', '---', '---', '---', '---', '---'],
         'HSE_R': [HSE_R_MPA, '---', '---', '---', '---', '---', '---', '---'],
         'ETD': [ETD_MPA, '---', '---', '---', '---', '---', '---', '---']}
  
# Create DataFrame
df2 = pd.DataFrame(data2)
display(df2)

df2.to_csv('MPA_ET.csv', index=False)

,Temperatures,Variables_L,Numel_L,Percentages_L,ET_L,HSE_L,Variables_R,Numel_R,Percentages_R,ET_R,HSE_R,ETD
0,---,Total_L_MPA,81157,---,28.929546,3.412659,Total_R_MPA,84443,---,28.94014,3.248756,0.010595
1,28.5,c1_L_MPA,6190,7.627192,---,---,c1_R_MPA,6706,7.941452,---,---,---
2,29.5,c2_L_MPA,4661,5.743189,---,---,c2_R_MPA,5272,6.243265,---,---,---
3,30.5,c3_L_MPA,1921,2.367017,---,---,c3_R_MPA,1566,1.854505,---,---,---
4,31,c4_L_MPA,626,0.771344,---,---,c4_R_MPA,1217,1.441209,---,---,---
5,32.5,c5_L_MPA,37,0.045591,---,---,c5_R_MPA,4,0.004737,---,---,---
6,33.5,c6_L_MPA,0,0.0,---,---,c6_R_MPA,0,0.0,---,---,---
7,34.5,c7_L_MPA,0,0.0,---,---,c7_R_MPA,0,0.0,---,---,---